.button{
    width: 350px;
    height: 220px;
    line-height: 2px;
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-bottom: 30px;
    border-width: 2px;
    border-color: red;
}
ul{
    list-style: none;
}